<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Sebastian De Gobbis" %></title>

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900,400italic,900italic|Roboto:400,100,900,100italic,400italic,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :normalize %>
    <%= stylesheet_link_tag :all %>
<<<<<<< HEAD
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.0/css/swiper.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.0/js/swiper.min.js"></script>
    <%= javascript_include_tag :all %>

=======
    <%= javascript_include_tag :all %>
>>>>>>> d18bc4fdee9cc8e2ee58ec20e0f1bfd9fd6f3ab4
  </head>

  <body class="<%= page_classes %>">
    <div id="loader-wrapper">
        <div id="loader">
          <span id="loader-1"></span>
          <span id="loader-2"></span>
          <span id="loader-3"></span>
        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
      </div>
    <header>
      <h1><%= link_to("Sebastian De Gobbis", "http://www.sebastiandegobbis.com")%></h1>
      <button class="btn menu">
          <span class="backbuttn"></span>
          <span class="text">Menu</span>
          <span class="x1-45"></span>
          <span class="x2-45"></span>
        </button>
      <nav>
        <ul>
          <li><%= new_link_to("Home", "/") %></li>
          <li><%= new_link_to("Opere", "/opere.html") %></li>
          <li><%= new_link_to("Biografia", "/bio.html") %></li>
          <li><%= new_link_to("Contatti", "/contatti.html") %></li>
        </ul>
        <%= link_to("Facebook", "https://www.facebook.com/sebastian.degobbis.artist") %>
        <%= link_to("G+", "https://plus.google.com/112598431490420206575") %>
      </nav>
    </header>
    <%= yield %>
    <%= partial "footer" %>
<<<<<<< HEAD
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
=======
>>>>>>> d18bc4fdee9cc8e2ee58ec20e0f1bfd9fd6f3ab4
  </body>
</html>
