<footer>
  <div class="warp">
    <div class="form_contacts">
      <h3>Contattami</h3>
      <% form_tag '/contacts.rb', :method => 'post' do %>
        <% field_set_tag do %>
          <div class="f_name f_warp">
            <%= text_field_tag :name, :class => 'form-input' %>
            <%= label_tag :name, :class => 'form-label' %>
          </div>
          <div class="f_mail f_warp">
            <%= text_field_tag :mail, :class => 'form-input' %>
            <%= label_tag :mail, :class => 'form-label' %>
          </div>
          <div class="f_message f_warp">
            <%= text_area_tag :message, :class => 'form-input' %>
            <%= label_tag :message, :class => 'form-label', :class => 'form-label' %>
          </div>
        <% end %>
          <% field_set_tag(:class => 'fieldsetbtn') do %>
            <%= submit_tag "Invia", :class => 'btn' %>
          <% end %>
      <% end %>
    </div>
    <div class="site_link">
      <h3>Sebastian De Gobbis</h3>
      <ul>
        <li> <%= link_to("Home", "/") %> </li>
        <li> <%= link_to("Opere", "/opere.html") %> </li>
        <li> <%= link_to("Biografia", "/bio.html") %> </li>
        <li> <%= link_to("Contatti", "/contatti.html") %> </li>
      </ul>
      <h4>Social</h4>
      <a href="https://www.facebook.com/sebastian.degobbis.artist">Facebook</a>
      <a href="https://plus.google.com/112598431490420206575">G+</a>
    </div>
    <p class="copy">
      &copy; 2015 - Sebastian De Gobbis - <%= link_to("Privacy", "#") %> - <%= link_to("Cookie", "#") %>
    </p>
  </div>
</footer>
