<header>
  <h1><a href="#"><span class="show-for-landscape">Sebastian </span>De Gobbis</a></h1>
  <button class="btn btn-menu">
    <div class="icon-menu"></div>
    Menu
  </button>
  <nav class="menu">
    <ul>
      <li><%= new_link_to("Home", "/") %></li>
      <li><%= new_link_to("Opere", "/opere/") %></li>
      <li><%= new_link_to("Biografia", "/bio.html") %></li>
      <li><%= new_link_to("Contatti", "/contatti.html") %></li>
    </ul>
    <div class="social-menu">
      <%= link_to("Facebook", "https://www.facebook.com/sebastian.degobbis.artist") %>
      <%= link_to("G+", "https://plus.google.com/112598431490420206575") %>
    </div>
  </nav>
</header>
