---
title: Sebastian De Gobbis | Opere
---
<%= partial "header" %>
<article class="">

  <h2>Opere</h2>
  <hr>

  <section class="warp">
    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="grid-item">
        <figure>
          <%= add_image("amazzone-100x100", "jpg") %>
          <figcaption>
            <h3>Amazzone</h3>
            <p>
              100cm x 100cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("arpista-94x68", "jpg") %>
          <figcaption>
            <h3>Arpista</h3>
            <p>
              94cm x 98cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("autoritratto_in_qr_code-42x42", "jpg") %>
          <figcaption>
            <h3>Autoritratto In QR Code</h3>
            <p>
              42cm x 42cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("clessidra-80x100", "jpg") %>
          <figcaption>
            <h3>Clessidra</h3>
            <p>
              80cm x 100cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("codecity-95_5x98", "jpg") %>
          <figcaption>
            <h3>Codecity</h3>
            <p>
              95,5cm x 98cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("collana_di_gelsomini-63x79_5", "jpg") %>
          <figcaption>
            <h3>Collana di Gelsomini</h3>
            <p>
              63cm x 79,5cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("cuore_di_pezza-63x79", "jpg") %>
          <figcaption>
            <h3>Cuore di Pezza</h3>
            <p>
              63cm x 79cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("la_stanza_2-108x96", "jpg") %>
          <figcaption>
            <h3>La Stanza 2</h3>
            <p>
              108cm x 96cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("la_tazza_rossa-70x100", "jpg") %>
          <figcaption>
            <h3>La Tazza Rossa</h3>
            <p>
              70cm x 100cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("modella_in_studio-68x78", "jpg") %>
          <figcaption>
            <h3>Modella in Studio</h3>
            <p>
              68cm x 78cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("partita_a_scacchi-69x63", "jpg") %>
          <figcaption>
            <h3>Partita a Scacchi</h3>
            <p>
              69cm x 63cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("paternità-80x110", "jpg") %>
          <figcaption>
            <h3>Paternit&agrave</h3>
            <p>
              80cm x 110cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("sicurezza_emozionale-150x137", "jpg") %>
          <figcaption>
            <h3>Sicurezza Emozionale</h3>
            <p>
              150cm x 137cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("terapia-102x113", "jpg") %>
          <figcaption>
            <h3>Terapia</h3>
            <p>
              102cm x 113cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("top_model-160x140", "jpg") %>
          <figcaption>
            <h3>Top Model</h3>
            <p>
              160cm x 140cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("violoncellista_colorata-95x96", "jpg") %>
          <figcaption>
            <h3>Violoncellista Colorata</h3>
            <p>
              95cm x 96cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("violoncellista_scura-65_7x92", "jpg") %>
          <figcaption>
            <h3>Violoncellista Scura</h3>
            <p>
              65,7cm x 92cm
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-item">
        <figure>
          <%= add_image("vizio-125x109", "jpg") %>
          <figcaption>
            <h3>Vizio</h3>
            <p>
              125cm x 109cm
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</article>
  <%= partial "footer" %>
